<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<title>{% if page.title %}{{ page.title }} - {% endif %}DUMMY TITLE</title>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="title for ogp" />
		<meta property="og:url" content="http://reppets.net/github-test/" />
		<meta property="og:site_name" content="ore no site" />
		<meta property="og:image" content="https://www.pakutaso.com/shared/img/thumb/NEKOIMG_7776_TP_V.jpg" />
		<meta property="og:description" content="ドーモ　コンニチワ" />
	</head>
	<body>
		{{ content }}
	</body>
</html>