<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<title>{% if page.title %}{{ page.title }} - {% endif %}DUMMY TITLE</title>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="title for ogp" />
		<meta property="og:url" content="http://reppets.net/github-test/" />
		<meta property="og:site_name" content="ore no site" />
		<meta property="og:image" content="http://68.media.tumblr.com/483c8aa255021731263bcd520c0aa616/tumblr_oawn5adIcx1rugzywo1_1280.jpg" />
		<meta property="og:description" content="ドーモ　コンニチワ" />
	</head>
	<body>
		{{ content }}
	</body>
</html>